* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#app {
    width: 100vw;
    height: 100vh;
    background: #00a4c0;
    color: #eee;
    display: flex;
    justify-content: center;
    font-family: "Roboto", helvetica, arial, sans-serif;
    padding-top: 100px;
}

div.smoothie-chart-tooltip {
    background: #444;
    padding: 1em;
    margin-top: 20px;
    font-family: consolas;
    color: white;
    font-size: 10px;
    pointer-events: none;
}


table {
    background: #1b1e24;
    border-radius: 3px;
    border-collapse: collapse;
    height: 320px;
    margin: auto;
    max-width: 600px;
    padding: 5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

th {
    padding-left: 8px;
    width: 160px;
    color: #d5dde5;
    background: #1b1e24;
    border-bottom: 4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size: 23px;
    font-weight: 100;
    padding: 24px;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
    text-align: center;
}

th {
    border-bottom: none;
}

tr {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 1px solid #C1C3D1;
    color: #666b85;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
}

tr:first-child {
    border-top: none;
}

tr:nth-child(odd) td {
    background: #ebebeb;
}

tr:hover td {
    background: #4E5066;
    color: #ffffff;
}

td {
    background: #ffffff;
    padding: 20px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
    min-width: 150px;
}
